body{
    width: 100%;
    height:100%;
    font-family: 'Lato', sans-serif; //font-weight: 700; 
    background-size: 100%; 
    background-repeat:no-repeat; 
    background-attachment:fixed; 
    position:absolute; margin:0;
    
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
   font-family: 'Lato', sans-serif; //font-weight: 700; 
   color:#f9f9fa;
}

table { /* Will apply to all tables */
    border-spacing: 0;
    /* OR border-collapse: collapse; */
}

.tent{
	position:fixed;
	width: 100%;
	height: 100%;
	background-color:black;
	opacity:0.3;
}

.tent2{
	position:fixed;
	width: 100%;
	height: 100%;
	background-color:#26a9e0;
	opacity:0.2;
}

.header {
	position: fixed;
	z-index:10;
	width: 100%;
	font-size:13px;
	vertical-align:middle;
}

.header_background {
	background: rgba(0, 0, 0, .6);
}

.header_table {
	height:143px; float:right;
}

.menu_item { 
	position:relative; top:0px; right:0px; vertical-align:middle;
	width:70px; padding:2px; text-align:center;
	margin-left:20px; margin-right:20px;
	color:#f9f9fa;
}

.portfolio {
	width:100%;
}

.portfolio_button { 
	
}

.call_to_action_button {
	width:150px; padding:10px; text-align:center;
	margin-left:20px; margin-right:20px;
	background-color:#f9d204; color:#ae9303;
	font-size:15px;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; 
}

.social_button { 
	position:relative; top:0px; right:0px;
	display:inline;
	width:30px;
	margin:10px;
	color:white;
	font-size:33px;
}

.twitter_button { 
	margin-right:45px;
}

.logo {
	width:240px; 
	position:relative;
	right:0px;
	padding:15px;
	padding-left:35px;
}

.content {
	position: relative;
	top:150px;
	height:100%;
}

.intro_content {
	padding:50px;
}

.sitemap {
	line-height:25px;
	vertical-align: top;
}

.sitemap_title {
	font-size:16px;
	color:#8a959e;
	text-decoration: none;
	text-transform: uppercase;
}

.sitemap_item {
	font-size:15px;
	font-weight:300;
	color:#dfdfdf;
	text-decoration: none;
}

.footer_title {
	font-size:30px;
}

.big_text {
	font-size:40px;
	color:#f9f9fa;
}

.main_text {
	font-size:60px;
	color:white;
}

.medium_text {
	font-size:30px;
	color:#f9f9fa;
}

.small_text {
	font-size:20px;
	color:#f9f9fa;
	font-weight:300;
}

.response {
 	font-size:20px;
 	font-weight:300; 
}

.clear_button { 
	display:inline;
	width:200px; padding:15px; text-align:center; font-size:16px;
	background-color:rgba(255,255,255,0.2); color:white;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; 
}

.blue_button { 
	display:inline;
	width:200px; padding:15px; text-align:center; font-size:16px;
	background-color:#26a9e0; color:white;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; 
}

.green_button { 
	display:inline;
	width:200px; padding:15px; text-align:center; font-size:16px;
	background-color:#82c240; color:white;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; 
}

.red_button { 
	display:inline;
	width:200px; padding:15px; text-align:center; font-size:16px;
	background-color:#ef5122; color:white;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; 
}

.yellow_button { 
	display:inline;
	width:200px; padding:15px; text-align:center; font-size:16px;
	background-color:#f9d204; color:#ae9303;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; 
}

.gray_button { 
	display:inline;
	width:200px; padding:15px; text-align:center; font-size:16px;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; 
}

.inputbox {
	width:35%; 
	font-size:25px; font-weight:300; 
	background-color:rgba(255,255,255,0.2); color:white; 
}

.inputbutton {
	font-size:23px;
}

.footer {
	position: fixed; bottom:0px;
	width: 100%;
	font-size:13px;
	vertical-align:middle;
}

.footer_table {
	height:145px; width:100%; 
}

.calculator {
	width:70%;
}

#mobileapps_standard {
	font-size:16px;
}

#mobileapps_advanced {
	font-size:16px;
}

#websites_standard {
	font-size:16px;
}

#websites_advanced {
	font-size:16px;
}

.contact_box {
	font-size:24px;
}

//red - #ef5122 
//yellow - #f9d204
//blue - #26a9e0
//green - #82c240